# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dylib

# Virtual envs
.venv/
venv/

# Data & artifacts
data/processed/*
!data/processed/.gitkeep
models/*
!models/.gitkeep
reports/*
!reports/.gitkeep
figs/*
!figs/.gitkeep

# OS files
.DS_Store

# scaffold script
init_scaffold.sh
# Ignore raw data
data/raw/*
!data/raw/.gitkeep
